@import url(common.css);


.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-top__logo {
    margin-top: 10px;
    padding-top: 5px;
}

.header-top__ul-list {
    display: flex;
    column-gap: 60px;
}

.header-top__ul-li {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-main_wrap {
    display: flex;
}

.header-img-li {
    width: 37px;
    height: 37px;
}

.header-img-li {
    padding-right: 10px;
}

.header-top__ul {
    margin-left: 65px;
}

.header-main {
    background-color: rgb(49, 162, 237);
    height: 80px;
}

.header-main_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main_category {
    position: relative;
    width: 225px;
    background-color: #f56517;
    padding: 22px 15px 22px 0;
    bottom: -13px;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.header-main_category:hover, .header-main_category:focus {
    cursor: pointer;
    background-color: #f68446;

}

.header-main_category label {
    padding-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.header-main__menu {
    width: 239px;
    position: absolute;
    list-style: none;
    top: 140px;
    box-shadow: 1px 1px 5px #f68446;
    box-sizing: border-box;
    padding-left: 8px;
}
input {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}
.menu-list {
    padding-top: 10px;
}

.menu-item {
    list-style: none;
    display: flex;
    align-items: center;

}

.header-main__menu:hover {

}

.menu-item:hover {
    font-weight: bold;

}

.menu-item__link {
    text-decoration: none;
    color: #444;
}

.menu-item > img {
    width: 38px;
    margin-right: 5px;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.header-main_search {
    background-color: white;
    width: 42%;
    margin-left: 15px;
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 190px;
}

.header-main__input {
    width: 100%;
    height: 30px;
    padding: 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    color: #000;
    font: 400 14px/30px robotoregular;
}

.icon-search {
    position: relative;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    background-color: white;
    border: 2.9px solid rgb(49, 162, 237);
    border-radius: 50%;
}

.icon-search:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 3px;
    width: 13px;
    height: 2.8px;
    background-color: rgb(49, 162, 237);
    border-radius: 0 7.5px 7.5px 0;
    transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
}

.header-main_nav {
    column-gap: 50px;
    display: flex;
}